<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MobileCRM.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MobileCRM.Properties.Settings>
            <setting name="LoginID" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginUser" serializeAs="String">
                <value />
            </setting>
            <setting name="LoginPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="OrgID" serializeAs="String">
                <value />
            </setting>
            <setting name="UserLogin" serializeAs="String">
                <value />
            </setting>
            <setting name="UserStatus" serializeAs="String">
                <value />
            </setting>
        </MobileCRM.Properties.Settings>
    </userSettings>
</configuration>